<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="edocbook.contribution1"
            nameFilter="*.xml"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               label="Docbook"
               path="additions"
               id="edocbook.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Docbook -&gt; HTML(single)"
               class="jp.sourceforge.edocbook.popup.actions.SingleHtmlCreateAction"
               menubarPath="edocbook.menu1/group1"
               enablesFor="1"
               id="edocbook.html.single">
         </action>
         <action
               class="jp.sourceforge.edocbook.popup.actions.MultipleHtmlCreateAction"
               enablesFor="1"
               id="edocbook.html.multiple"
               label="Docbook -&gt; HTML(multiple)"
               menubarPath="edocbook.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
